body{
    margin: 0;
}

.photo{
    width:278px;
    height: auto;
}

main, header{
    display: flex;
}

.nom{
    font-size: 20px;
    text-align: left;
    background-color: orangered;
    width:100%;
    padding-left: 20px;
    padding-top: 20px;


}

#sect1 {
    background-color: orangered;
    padding: 20px;
}

#sect2{
    text-align: left;
    padding: 20px;
}

strong{
    font-size: 20px;
}

.vil{
    color: rgb(84, 85, 84);
}

.banniere{
    width: 150%;
}